################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nexta_source_code/TLite.aps
/Nexta_source_code/x64/Release
/Nexta_source_code/.vs/TLite/FileContentIndex
/Nexta_source_code/.vs/TLite/v17/ipch
/Nexta_source_code/.vs/TLite/v17/Browse.VC.db
/Nexta_source_code/.vs/TLite/v17/Browse.VC.db-shm
/Nexta_source_code/.vs/TLite/v17/Browse.VC.db-wal
/Nexta_source_code/.vs/TLite/v17/Browse.VC.opendb
/Nexta_source_code/.vs/TLite/v17/fileList.bin
/Nexta_source_code/.vs/TLite/v17/Solution.VC.db
/Nexta_source_code/x64/Debug/TLite.tlog
/Nexta_source_code/x64/Debug/AssignmentSimulationTabDlg.obj
/Nexta_source_code/x64/Debug/BaseDialog.obj
/Nexta_source_code/x64/Debug/CDlg_UserInput.obj
/Nexta_source_code/x64/Debug/CGridColumnTraitCombo.obj
/Nexta_source_code/x64/Debug/CGridColumnTraitDateTime.obj
/Nexta_source_code/x64/Debug/CGridColumnTraitEdit.obj
/Nexta_source_code/x64/Debug/CGridColumnTraitImage.obj
/Nexta_source_code/x64/Debug/CGridColumnTraitText.obj
/Nexta_source_code/x64/Debug/CGridListCtrlEx.obj
/Nexta_source_code/x64/Debug/CGridListCtrlGroups.obj
/Nexta_source_code/x64/Debug/CGridRowTraitText.obj
/Nexta_source_code/x64/Debug/CGridRowTraitXP.obj
/Nexta_source_code/x64/Debug/ChildFrm.obj
/Nexta_source_code/x64/Debug/CSVParser.obj
/Nexta_source_code/x64/Debug/DlgFileLoading.obj
/Nexta_source_code/x64/Debug/DlgFindALink.obj
/Nexta_source_code/x64/Debug/DlgLinkList.obj
/Nexta_source_code/x64/Debug/DlgLinkProperties.obj
/Nexta_source_code/x64/Debug/DlgMOE.obj
/Nexta_source_code/x64/Debug/DlgMOETabSubView.obj
/Nexta_source_code/x64/Debug/DlgMOETabView.obj
/Nexta_source_code/x64/Debug/DlgPathList.obj
/Nexta_source_code/x64/Debug/DlgScenarioTab.obj
/Nexta_source_code/x64/Debug/Dlg_DisplayConfiguration.obj
/Nexta_source_code/x64/Debug/Dlg_Find_Vehicle.obj
/Nexta_source_code/x64/Debug/Dlg_Legend.obj
/Nexta_source_code/x64/Debug/Dlg_NodeProperties.obj
/Nexta_source_code/x64/Debug/Dlg_VehEmissions.obj
/Nexta_source_code/x64/Debug/Dlg_VehicleClassification.obj
/Nexta_source_code/x64/Debug/Geometry.obj
/Nexta_source_code/x64/Debug/GridCell.obj
/Nexta_source_code/x64/Debug/GridCellBase.obj
/Nexta_source_code/x64/Debug/GridCtrl.obj
/Nexta_source_code/x64/Debug/GridDropTarget.obj
/Nexta_source_code/x64/Debug/InPlaceEdit.obj
/Nexta_source_code/x64/Debug/MainFrm.obj
/Nexta_source_code/x64/Debug/NetworkDataDlg.obj
/Nexta_source_code/x64/Debug/NetworkDataTabDlg.obj
/Nexta_source_code/x64/Debug/NSChartCtrl.obj
/Nexta_source_code/x64/Debug/PlayerSeekBar.obj
/Nexta_source_code/x64/Debug/ShortestPath.obj
/Nexta_source_code/x64/Debug/stdafx.obj
/Nexta_source_code/x64/Debug/TitleTip.obj
/Nexta_source_code/x64/Debug/TLite.exe
/Nexta_source_code/x64/Debug/TLite.exe.recipe
/Nexta_source_code/x64/Debug/TLite.ilk
/Nexta_source_code/x64/Debug/TLite.log
/Nexta_source_code/x64/Debug/TLite.obj
/Nexta_source_code/x64/Debug/TLite.pch
/Nexta_source_code/x64/Debug/TLite.pdb
/Nexta_source_code/x64/Debug/TLite.res
/Nexta_source_code/x64/Debug/TLite.vcxproj.FileListAbsolute.txt
/Nexta_source_code/x64/Debug/TLiteDoc.obj
/Nexta_source_code/x64/Debug/TLiteView.obj
/Nexta_source_code/x64/Debug/TravelTimeEst.obj
/Nexta_source_code/x64/Debug/Utility.obj
/Nexta_source_code/x64/Debug/vc143.idb
/Nexta_source_code/x64/Debug/vc143.pdb
/Nexta_source_code/TLite.vcxproj
/Nexta_source_code/TLite.vcxproj.user
/.vs
/Nexta_source_code/.vs/TLite/v17/.suo
